.spinloader{
    width:3em;
    height: 3em;
    color:#1760ff
  }
  
  .app-card{
    padding: 20px;
    width: 500px;
    min-height: 250px;
    justify-content: center;
    border-radius: 15px !important;
    padding: 30px;
  }
  
  .form-control{
    border-radius: 10px;
  }
  
  .input-card{
    padding-left: 50px;
    text-align: left;
  }
  
  .btn{
    border-radius: 10px;
  }
  
  .form-text{
   text-align: left;
  }


  .App {
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .App-spinner{
    margin-top: 20em;
  }